{% extends "ContactBoxBundle:Contact:newContact.html.twig" %}

{% block title %}Modify Contact{% endblock %}

{% block body %}
{{ parent() }}

    <br><br>

<a href="{{ path('contactbox_address_addaddressget', {'id': id}) }}">
    Add address <i class="fa fa-address-book-o"></i>
</a>

{% endblock %}