{% extends "::base.html.twig" %}

{% block title %}Show All Contacts{% endblock %}

{% block body %}
<h1>All Contacts:</h1>

    {% for contact in contacts %}
        <p>
            <a href="{{ path('contactbox_contact_showcontact', {'id': contact.id}) }}">
                {{ contact.firstName }} {{ contact.lastName }}
            </a>
        </p>

    {% else %}
        <p>No contacts</p>
    {% endfor %}

{% endblock %}
